<!DOCTYPE html>
<!-- EJS template for the signup page -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="icon" href="img/icon.svg">

    <link rel="stylesheet" href="auth.css">
    <script defer src="/logic/authSignup.js"></script>
</head>
<body>

<h1>Sign Up</h1>

<section class="auth-box">
    <form id="signupForm">
        <input type="text" placeholder="Username" id="username">
        <input type="password" placeholder="Password" id="password">

        <button type="submit">Create Account</button>
    </form>

    <p>Already have an account? <a href="/login">Login</a></p>
</section>

</body>
</html>